*{padding: 0; margin: 0; box-sizing: border-box; font-family: sans-serif;}

#app{width: 99%; height: 100vh;}

li{list-style-type: disc; margin-left: 1.5em;}

header{width: 95%; margin: 1em auto;}

select{width: 70%;}

.img-respo{max-width: 100%; height: auto;}

.d-none{display: none;}
.d-flex{display: flex;}
.row{display: flex; flex-wrap: nowrap;}
.jc-center{justify-content: center;}
.ai-center{align-items: center;}
.flex-column{flex-direction: column;}
.text-center{text-align: center;}
.text-capitalize{text-transform: capitalize;}
.fs-4{font-size: 0.8rem;}
.fs-5{font-size: 0.9rem;}
.mx-1{margin-left: 0.5em; margin-right: 0.5em;}
.my-1{margin-top: 0.5em; margin-bottom: 0.5em;}
.my-2{margin-top: 1em; margin-bottom: 1em;}
.my-3{margin-top: 1.5em; margin-bottom: 1.5em;}
.mt-2{margin-top: 1em;}
.mt-4{margin-top: 2em;}
.mb-2{margin-bottom: 1em;}
.p-1{padding: 0.5em;}
.pr-2{padding-right: 1em;}

.title h2,
#win h2{width: 99%;}
#inputAdd{width: 70%;}

.title-trama{
  flex-basis: 60%;
  overflow-y: auto;
  h2{font-size: 1.2rem;}
}
.locandina{flex-basis: 40%;}